table{
	border-spacing: 15px;
}

table tr td{
	padding: 20px;
	background-color: white;
}
table tr td a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#delete, #edit{
	float: right;
	border: none;
	padding: 3px;
	outline: none;
}

#modal{
	display: none;
	position: absolute;
	z-index: 1;
	padding-top: 20px;
	width: 80%;
	height: 80%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

#modalcontent{
	background-color: white;
	margin: auto;
	padding: 20px;
	width: 80%;
}

#close{
	color: #aaaaaa;
	float: right;
	font-size: 30px;
	font-weight: bold;
}
#close:hover, #close:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}