.content{
	background-color: white;
	padding: 5px;
}

#podaci{
    width: 90%;
    margin: auto;
    padding: 20px 10px 0 10px;
}

#korisnik{
    font-size: 1.5em;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}

#followbtn{
    display: inline-block;
    margin-left: 65px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    padding: 15px 20px;
}

#profileDate{
    display: inline-block;
    margin-bottom: 10px;
    float: right;
}

#brFollowers{
    display: inline-block;
    float: left;
    clear: right;
}

#opisKanala{
    margin-top: 20px;
}

.recommended{
    width: 90%;
    margin: auto;
    /*word-wrap: break-word;*/
    background-color: white;
}

#videoHome{
    width: 15vw;
    position: relative;
    height: 15vw;
    background-color: white;
    display: inline-block;
    margin: 1vw;
    vertical-align: top;
}

#videoHome a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
}

.thumbnailWrapper{
    width: 100%;
    padding-top: 56.20%;
    position: relative;
}

#thumbnail{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#naslov{
    position: static;
    margin-top: 10px;
}

#user{
    position: static;
    display: block;
}

#views{
    margin-top: 10px;
    position: absolute;
}

#date{
    margin-top: 10px;
    position: absolute;
    right: 0;
}

#pagination {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

#pagination a {
    color: black;
    float: left;
    height: 4vmin;
    width: 4vmin;
    vertical-align: middle;
    line-height: 4vmin;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color .4s;
}

#pagination a.active {
    background-color: #a8dcf0;
    color: white;
    border-radius: 50%;
}

#pagination a:hover:not(.active) {
    background-color: #ddd;
}

#following{
    width: 88%;
    margin: 20px auto;
}

#osoba{
    display: inline-block;
    background-color: #C0C0C0;
    width: 16.3%;
    height: 15vh;
    padding: 5px;
}

#zafoluj{
    padding: 5px;
    margin: 5px;
}